language: android
android:
  components:
    - platform-tools
    - tools
    - build-tools-23.0.1
    - android-23
    - extra-android-support
    - extra-android-m2repository
    - sys-img-x86-android-23
  licenses:
    - android-sdk-license-.+

script: "gradle build connectedCheck"
