language: android
jdk: oraclejdk7
android:
  components:
  - platform-tools
  - tools
  - build-tools-23.0.3
  - android-23
  - extra-android-support
  - extra-android-m2repository
  - extra-google-m2repository
  - sys-img-armeabi-v7a-android-23
  licenses:
  - android-sdk-license-.+
env:
  global:
  - ADB_INSTALL_TIMEOUT=8
  - MALLOC_ARENA_MAX=2
  - ARTIFACTS_BUCKET=sunshineartifacts
  - ARTIFACTS_KEY=AKIAI4U2ZHOS2J33NWCQ
  - ARTIFACTS_SECRET=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
before_install:
- export ANDROID_HOME=/usr/local/android-sdk
- export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools
install:
- TERM=dumb ./gradlew assembleDebug
before_script:
- echo no | android create avd --force -n test -t android-23 --abi armeabi-v7a
- emulator -avd test -no-skin -no-audio -no-window &
- android-wait-for-emulator
- adb shell input keyevent 82 &
script: ./gradlew connectedAndroidTest -PdisablePreDex --stacktrace
addons:
  artifacts:
    debug: true
    s3_region: "us-west-2"
    paths:
      - ./app/build/outputs/apk/app-debug.apk
      - ./app/build/reports/androidTests/connected
      - ./app/build/outputs/lint-results-debug_files
      - ./app/build/outputs/lint-results-debug.html
      - ./app/build/outputs/androidTest-results